*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-container {
    background-color: white;
    border-radius: 5px;
    width: 500px;
    height: 500px;
   margin-top: 20%;
   margin-left: 45%;
   display: inline-block;
}

.purple {
    background-color:purple;
    border-radius: 5px;
    width: 100px;
    height: 100px;
   
}

h3 {
    color: white;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 35px;
    padding-left: 15px;
}

.horizontal-strokes1 {
    width: 70px;
    height: 10px;
    background-color: orange;
    margin-left: 16px;
    border: 1px solid purple;
    border-top-left-radius: 5px;
    
}

.horizontal-strokes2 {
    width: 70px;
    height: 10px;
    background-color: orange;
    margin-left: 16px;
    border: 1px solid purple;
    border-bottom-left-radius: 5px;
}


.red-back {
    width: 100px;
    height: 100px;
    background-color: red;
    padding-left: 50px;
    padding-top: 15px;
    border-radius: 100%;
}

.inner-white {
    background-color: white;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    
    
}

.orange {
    width: 100px;
    height: 100px;
    background-color: orangered;
    padding-top: 20px;
}

.white-box {
    width: 20px;
    height: 20px;
    background-color: white;
    margin-left: 60px;
    
}

p {
    color: white;
    font-size: 25px;
    margin-left: 10px;
    
}